// SPDX-FileCopyrightText: 2024 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
NRF NFDiscovery Service

NRF NFDiscovery Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 1.3.0-alpha.7

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nnrf_NFDiscovery

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"strings"
)

type CompleteStoredSearchDocumentAPI interface {

	/*
		RetrieveCompleteSearch Method for RetrieveCompleteSearch

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param searchId Id of a stored search
		@return ApiRetrieveCompleteSearchRequest
	*/
	RetrieveCompleteSearch(ctx context.Context, searchId string) ApiRetrieveCompleteSearchRequest

	// RetrieveCompleteSearchExecute executes the request
	//  @return StoredSearchResult
	RetrieveCompleteSearchExecute(r ApiRetrieveCompleteSearchRequest) (*StoredSearchResult, *http.Response, error)
}

// CompleteStoredSearchDocumentAPIService CompleteStoredSearchDocumentAPI service
type CompleteStoredSearchDocumentAPIService service

type ApiRetrieveCompleteSearchRequest struct {
	ctx            context.Context
	ApiService     CompleteStoredSearchDocumentAPI
	searchId       string
	acceptEncoding *string
}

// Accept-Encoding, described in IETF RFC 9110
func (r ApiRetrieveCompleteSearchRequest) AcceptEncoding(acceptEncoding string) ApiRetrieveCompleteSearchRequest {
	r.acceptEncoding = &acceptEncoding
	return r
}

func (r ApiRetrieveCompleteSearchRequest) Execute() (*StoredSearchResult, *http.Response, error) {
	return r.ApiService.RetrieveCompleteSearchExecute(r)
}

/*
RetrieveCompleteSearch Method for RetrieveCompleteSearch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param searchId Id of a stored search
	@return ApiRetrieveCompleteSearchRequest
*/
func (a *CompleteStoredSearchDocumentAPIService) RetrieveCompleteSearch(ctx context.Context, searchId string) ApiRetrieveCompleteSearchRequest {
	return ApiRetrieveCompleteSearchRequest{
		ApiService: a,
		ctx:        ctx,
		searchId:   searchId,
	}
}

// Execute executes the request
//
//	@return StoredSearchResult
func (a *CompleteStoredSearchDocumentAPIService) RetrieveCompleteSearchExecute(r ApiRetrieveCompleteSearchRequest) (*StoredSearchResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StoredSearchResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompleteStoredSearchDocumentAPIService.RetrieveCompleteSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/searches/{searchId}/complete"
	localVarPath = strings.Replace(localVarPath, "{"+"searchId"+"}", url.PathEscape(parameterValueToString(r.searchId, "searchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptEncoding != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Encoding", r.acceptEncoding, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 307 {
			var v RedirectResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 308 {
			var v RedirectResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
